/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url('assets/background/bg.jpeg') no-repeat;
  background-size: cover;
  display: block;
}

$default-background-color: rgba(
  $color: #000000,
  $alpha: 0.2
);

.mat-sidenav-container {
  background-color: rgba($color: #000000, $alpha: 0.1);
}
p {
  color: white;
}
.mat-table {
  width: 100%;
  background-color: $default-background-color;
}
.mat-paginator {
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.mat-card {
  background-color: $default-background-color;
}
.mat-icon {
  cursor: pointer;
}
.mat-cell,
.mat-header-cell {
  color: white;
}
.mat-button {
  background-color: rgba($color: #000000, $alpha: 0.5);
}
