<mat-sidenav-container class="example-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <p><button mat-button (click)="close()">Toggle</button></p>
    <div fxLayout="column">
      <a routerLink="/eleicao" (click)="close()">Cadastro</a>
      <a routerLink="/login" (click)="close()">Login</a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
